.layoutBackground {
  background-image: -webkit-linear-gradient(0deg,#0cd9b9 0%,#1ed3e8 100%)
}

.layoutBackground:hover {
  transition: all 0.3s ease;
  background-image: -webkit-linear-gradient(0deg,#1ed3e8 0%,#0cd9b9 100%)
}

.buttonAdd {
  position: fixed;
  font-size: 34px;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  bottom: 18px;
  right: 18px;
}

